* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* ===== HEADER ===== */
.header {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
}

.header-left {
    width: 33%;
}

.logo {
    width: 34%;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}
.logo a {
    color: inherit;        /* .logo 색상 따라감 */
    text-decoration: none; /* 밑줄 제거 */
    font-size: inherit;    /* .logo 크기 따라감 */
    font-weight: inherit;  /* .logo 굵기 따라감 */
}

.auth {
    width: 33%;
    text-align: right;
}

.auth a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
}

/* ===== MAIN ===== */
.main {
    display: flex;
    height: 70vh; /* 화면의 대부분 차지 */
    padding: 40px;
}

.main-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-left img {
    width: 70%;
    max-width: 400px;
    height: auto;
}

.main-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-right h1 {
    font-size: 50px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #675f5f;
    animation: floatUp 1.3s ease-out forwards;
}

@keyframes floatUp {
    0% {
        opacity: 0;
        filter: blur(4px);
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.start-btn {
    align-self: flex-end;
    padding: 12px 30px;
    font-size: 16px;
    background-color: #535252;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.fade-delay {
    opacity: 0;
    animation: floatUp 1.6s ease-out forwards;
    animation-delay: 0.6s;
}

/* ===== BOARD ===== */
.board {
    padding: 30px 0;
    text-align: center;
}

.board-line {
    width: 90%;
    height: 3px;
    background-color: #e19b9b;
    margin: 0 auto;
}

.board-nav {
    margin: 15px 0;
    font-size: 20px;
}

.board-nav a {
    text-decoration: none;
    color: #e19b9b;
    margin: 0 8px;
}

.board-nav .divider {
    color: #e19b9b;
}

.board-nav a:hover {
    color: #afaeae;
}

.board {
    margin-bottom: 40px;
}

/* ===== FOOTER ===== */
.footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ddd;
}

.footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}